<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- displays site properly based on user's device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon_io/favicon-32x32.png">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap"
          rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://cdn.xeiaso.net/static/pkg/iosevka/family.css"
    />
    <link rel="stylesheet" href="../static/css/variables.css" type="text/css">
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../static/css/main.css" type="text/css">
    <link rel="stylesheet" href="../static/css/desktop.css" type="text/css">
    <link rel="stylesheet" href="../static/css/tailwind.css" />

    <title>Tech-race - la course des héros</title>

</head>

<body class="body-main">

<main class="main-page main-grid">

    <div class="title-container title-container-grid">
        <h1 class="title-color title-font title-size title-margin">API de Tech Race</h1>
        <p class="para-color para-font para-size">Bienvenue sur l'API qui permet à la voiture Tech Race de rouler !</p>
        <div class="flex gap-5 my-5">
            <a href="https://github.com/NasssDev/Tech-Race/blob/main/README.md" class="font-lexend text-transparent-white text-lg hover:text-white">Documentation</a>
            <a href="/docs#demos" class="font-lexend text-transparent-white text-lg hover:text-white">Démo</a>
            <a href="/tarifs" class="font-lexend text-transparent-white text-lg hover:text-white">Tarifs</a>
        </div>
    </div>

    <div class="cards-container card-container-form">
        <article class="card card-color-1 card-1">
            <div class="icon-container">
                <img class="card-img" src="../static/images/svg/alternate-mobile.svg" />
            </div>
            <h1 class="title-color title-font title-size title-margin">Télécharger l'app</h1>
            <p class="para-color para-font para-size para-margin">
                "Tech Race App" est nécessaire pour que la voiture Tech Race démarre.</p>
            <a type="button" href="https://play.google.com/store/apps?hl=fr" class="btn-text-color-3 btn-size btn-font">
                <img class="img-provider" src="../static/images/png/google-play-badge.png" alt="logo google play store"/>
            </a>

        </article>

        <article class="card card-color-2 card-2">
            <div class="icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#fff" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-land-plot">
                    <path d="m12 8 6-3-6-3v10"/><path d="m8 11.99-5.5 3.14a1 1 0 0 0 0 1.74l8.5 4.86a2 2 0 0 0 2 0l8.5-4.86a1 1 0 0 0 0-1.74L16 12"/>
                    <path d="m6.49 12.85 11.02 6.3"/><path d="M17.51 12.85 6.5 19.15"/></svg>
            </div>
            <h1 class="title-color title-font title-size title-margin">Let's go !</h1>
            <p class="para-color para-font para-size">Rends-toi sur l'application et connecte-toi &nbsp;: ceci connecte ton application à cette api et à la voiture.</p>
            <p class="para-color para-font para-size">Tu es donc prêt à conduire ta voiture, amuse-toi bien !</p>
        </article>

        <article class="card card-color-3 card-3">
            <div class="icon-container">
                <img alt="outils" class="card-img --with-border" src="../static/images/svg/tools.svg" />
            </div>
            <h1 class="title-color title-font title-size title-margin">Nos services</h1>
            <p class="para-color para-font para-size">Nos services de base rendu possible sur votre application : rouler en utilisant le joystick, consulter vos statistiques.</p>
            <p class="para-color para-font para-size">Nous vous avons préparé d'autres outils éclatants : créer vos vidéos, passez en autopilote</p>

        </article>

    </div>

</main>
</body>

</html>