<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- displays site properly based on user's device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon_io/favicon-32x32.png">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap"
          rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://cdn.xeiaso.net/static/pkg/iosevka/family.css"
    />
    <link rel="stylesheet" href="../static/css/variables.css" type="text/css">
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../static/css/main.css" type="text/css">
    <link rel="stylesheet" href="../static/css/desktop.css" type="text/css">
    <link rel="stylesheet" href="../static/css/tailwind.css" />

    <title>Tech-race - 404</title>

</head>

<body>

<main class="main-page">
    <div class="title-container">
        <h1 class="title-color title-font title-size title-margin">Page non trouvée - Erreur 404</h1>
        <p class="para-color para-font para-size">Nous ne trouvons pas votre ressource</p>
        <div class="flex gap-5 my-5">
            <a href="/" class="font-lexend text-transparent-white text-lg hover:text-white">Retour à l'accueil</a>
        </div>
    </div>
</main>
</body>

</html>